/*la etiqueta body afecta a todo el contenido de la página*/
body {
	background-image: url("fondo6.jpg"); /*especificamos una imagen como fondo, e indicamos la dirección relativa después de url*/
	margin: 0px auto;/* establecemos un margen automático para que la página quede centrada de forma automática*/
	width: 750px;/*establecemos el ancho del contenido de la página*/
	
	font-family: sans-serif;/*establecemos el*/
	font-size: 1.1em;
}

table {
	margin-bottom: 30px;
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
}
table, th, td {
	font-size: 1em;
	margin: 0px auto;
	width: 250px;
	border: 1px solid black;
	padding: 5px;
	background-image: url("fondo3.jpg");
}

.table_fondo4 td {
	background-image: url("fondo4.jpg");
}

.table_fondo5 td {
	background-image: url("fondo5.jpg");
}

.little_line_height { /*establece un interlineado pequeño*/
	line-height: 40%;
}

#arrow {
	width: 60%;
}

#footer {
	background-color: #92a9b3;
	
	border-width: 4px;
	border-style: outset;
	border-color: #d2d2d2;
}

#header{
	padding: 10px;
	margin-top: 15px;
	
	border-radius: 15px 15px 0px 0px;
	border-style: outset;
	border-color: #d2d2d2;
	border-width: 8px;
	
	background-color: #92a9b3;
}

#contenido {
	border-right-style: outset;
	border-left-style: outset;
	border-color: #d2d2d2;
	border-width: 4px;
	padding-top: 40px;
	padding-bottom:40px;
	
	padding-left: 60px;
	padding-right: 60px;
	background-image: url("fondo2.png");
}

#lista_localidades {
	font-size: 1.5em;
}

#home {
	float: left;
	margin-left: 30px;
	margin-right: -30px;
}

#title {
	margin-left: 35px;
}

#logo {
	width: 9%;
	float: right;
	margin-right: 35px;
	opacity: 0.8;
}

#logo:hover {
	opacity: 0.95;
}

a img {
	-moz-transition:-moz-transform 0.1s ease-in; 
	-webkit-transition:-webkit-transform 0.1s ease-in; 
	-o-transition:-o-transform 0.1s ease-in;
}
a img:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
}

a {
	text-decoration: none;
	color: #003366;
}

a:link{
	color: #003366;
	text-decoration: none;
}

a:hover{
	color: #000000;
	font-weight: bold;
}

a img:hover{
	opacity: 0.7;
}

#ciclos_botones {
	margin: 0px auto;
}

.centered {
	margin-left: auto;
	text-align: center;
}

.negrita {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
.float_left {
	float: left;
}

.resize{
	width: 160px;
}

.margin_top {
	margin-top: 20px;
}

.clear {
	clear: both;
}

.underline {
	text-decoration: underline;
}

.invisible {
	opacity:0;
}

.font_smaller{
	font-size: 0.9em;
	letter-spacing: -1px;
}

/*código del menú desplegable*/
#menu{
	float: left;
	margin-left: -170px;
	margin-top: 40px;
	list-style: none;
	position: fixed;
}

#menu ul li {
	margin-left: -37px;
	list-style: none;
}

#menu li>a{
  background-color: #b7bcbe;
  padding: 10px;
  display: block;
  text-decoration: none;
  width: 85px;
  color: #000;
  border-style: none;
  border-color: #d2d2d2;
}

#menu>li>a {
	background-color: #90a0a7;
	border-style: ridge;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}
