@font-face {
	font-family: roboto;
	src: url(roboto.ttf);
}

​ p {
	font-family: roboto, "Arial";
}

body {
	background: #f4f7f6;
	font-family: roboto, "Arial";
	font-size: 1em;
}

table {
	/* display: block; */
	border-spacing: 1;
	border-collapse: collapse;
	border-radius: 10px;
	background: white;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

table th td {
	background-color: #000000;
}

table tr:nth-child(odd) td {
	background-color: white;
}

table tr:nth-child(even) td {
	background-color: #e9eeec;
}

td {
	padding-right: 10px;
}

table * {
	position: relative;
}

table td, table th {
	padding-left: 8px;
}

table tbody tr {
	height: 50px;
}

table tbody tr:last-child {
	border: 0;
}

tbody tr {
	font-size: 15px;
	color: #808080;
	line-height: 1.2;
	font-weight: unset;
}

tbody tr:hover {
	color: #555555;
	background-color: #f5f5f5;
}

.table-head td {
	color: #000000;
}

input {
	display: inline;
}

#form-popup {

}

.errors {
	color: #8b0000;
}

#overlay {
	dfdposition: dsfsdf;
	dfddisplay: none;
	dfdtop: 0;
	dfdright: 0;
	dfdbottom: 0;
	dfdleft: 0;
	dfdz-index: 998;
	dfdbackground: rgba(0, 0, 0, 0.3);
	font-weight: 500;
	cursor: pointer;
	border: none;
	max-width: 200px;
	transition: all .1s ease-in-out;
}

#back-div {
	background: rgba(0, 0, 0, 0.5);
	position: dsfsdf;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.cancel {
	background-color: rgb(187, 33, 33);
}

.button:hover {
	color: #fff;
	background-color: #42AB9E;
	transform: scale(1.02);
}

.cancel:hover {
	color: #fff;
	background-color: rgb(128, 21, 21);
}

label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

a {
	text-decoration: none;
	color: #003366;
}

a:link {
	color: #003366;
	text-decoration: none;
}

a:hover {
	color: #000000;
	font-weight: bold;
}

a img:hover {
	opacity: 0.7;
}

.centered {
	margin-left: auto;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.font_smaller {
	font-size: 0.9em;
	letter-spacing: -1px;
}